html{
    scroll-behavior: smooth;
    /* font-size: 62.5%; */
}
:root{
    --primary-color: #0066CC;
    --secondary-color: rgb(255, 255, 255);
    --theme-color: #000000;
    --sono-font: 'Sono', sans-serif;
    --monserrat-font: 'Montserrat', sans-serif;
    --btn-hover-color: #00cc99;
    --card-body-color: #d1dce7;
    --card-profile-name-color: #837275;
}


/* header */
header{
    background-image: url('image/templatemo-wave-banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 428px;
    max-height: 550px;
    height: 100vh;
}
nav{
    height: 115px;
}
.navbar-brand img{
    width: 95px;
}

#navbarSupportedContent ul li a{
    font-size: 1.4rem;
    font-family: var(--sono-font);
    color: var(--secondary-color);
}
#navbarSupportedContent ul li a.active,#navbarSupportedContent ul li a:hover{
    color: var(--primary-color);
}
#navbarSupportedContent ul li a.dropdown-item{
    color: var(--theme-color);
}
nav form{
    height: 44px;

}
nav form input.search,nav form input.search:active,nav form input.search:focus{
    border: 0;
    outline: 0;
    box-shadow: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
nav form input.search{
    padding: 10px 16px 10px 20px;
    font-size: 1.6rem;
    font-family: var(--sono-font);
}
nav form button i{
    font-size: 1.6rem;
    color: var(--secondary-color);
}
nav form .submit{
    background-color: var(--primary-color);
    padding: 10px 15px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}
nav form .submit:hover{
    background-color: var(--btn-hover-color);
}
#navbarSupportedContent{
    height: 60px;
}
.start-btn{
    font-family: var(--sono-font);
    padding: 8px 15px;
    font-size: 1.3rem;
    font-weight: 600;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}
.start-btn:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.hero h2{
    font-size: 48px;
    font-family: var(--sono-font);
    font-weight: 700;
    line-height: 58px;
    color: var(--secondary-color);
}
.hero p{
    font-size: 16px;
    font-family: var(--monserrat-font);
    font-weight: 300;
    line-height: 24px;
    color: var(--secondary-color);
}
.hero a{
    font-size: 16px;
    font-family: var(--sono-font);
    font-weight: 600;
    color: var(--secondary-color);
}
.button-on{
    background-color: var(--primary-color);
    padding: 10px 20px;
}
.button-on:hover{
    background-color: var(--btn-hover-color);
    color: var(--secondary-color);
}
/* -/header */

/* main */

/* slider */
#slider{
    background-image: linear-gradient(180deg,#B2D3EE,#F6FAFD);
}
#slider .container-fluid{
 transform: translateY(-34%);
}
#slider .splide{
    min-width: 656px;
}
ul.splide__list li.splide__slide:not(li.is-active.is-visible){
    opacity: 0.3;
}
li.splide__slide{
    display: flex;
    justify-content: center;
    align-items: center;
}
#slider .card{
    width: 212px;
    height: 317px;
    border-radius: 15px;
    overflow: hidden;
    
}
#slider .card .card-img-top{
    width: 100%;
    height: 100%;
}
#slider .card .icon-box{
    right: 10px;
    top: 80%;
    display: flex;
    opacity: 0;
    transition-duration: 0.6s;
}
#slider .card:hover .icon-box{
    top: 50%;
    transform: translateY(-50%);
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
}
#slider .card .icon-box a{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#slider .card .icon-box a i{
    font-size: 18px;
    color: var(--card-body-color);
    
}
.card-body{
    padding: 0 30px 30px 30px;
    background-color: var(--card-body-color);
}
#slider .card .card-title{
    font-family: var(--sono-font);
    font-size: 22px;
    font-weight: 600;
}
.card-inline-image{
    width: 33px;
    height: 33px;
}
#slider .card .card-btn{
    font-family: var(--sono-font);
    font-size: 12px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: 700;
    padding: 5px 8px;
}
.splide__pagination.splide__pagination--ltr{
    bottom: -80px;
    width: max-content;
    margin: 0 auto;
    background-color: var(--secondary-color);
    padding: 20px 30px;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
ul.splide__pagination li button.is-active{
    color: var(--primary-color);
    background-color: var(--primary-color);
}
/* -/slider */

/* latest-apesode */
#latest-apesode{
    padding-top: 80px;
}
.head{
    margin-bottom: 48px;
}
.head h3 span{
    font-size: 2.8rem;
    font-weight: 600;
    font-family: var(--sono-font);
    background-color: var(--card-body-color);
    padding: 10px 25px;
}
.head h3 hr{
    color: var(--card-body-color);
    height: 2.5px;
}
#latest-apesode .card{
    padding: 30px;
    border-radius: 30px;
    border: 2px solid var(--btn-hover-color);
    transition-duration: 0.5s;
}
#latest-apesode .card:hover{
    border-color: transparent;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.image-icon{
    max-width: 112px;
    max-height: 112px;
    border-radius: 15px;
    overflow: hidden;
}
.image-icon a{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image-icon a i{
    font-size: 32px;
    color: var(--btn-hover-color);
}
.image-icon a i:hover{
    color: var(--primary-color);
}
.left-content .subscribe-btn{
    background-color: var(--primary-color);
    font-family: var(--monserrat-font);
    font-weight: 600;
    font-size: .9rem;
    color: var(--secondary-color);
    display: inline-block;
    padding: 7px 15px;
}
.left-content .subscribe-btn:hover{
    background-color: var(--btn-hover-color);
}
.episode-time .time,.episode-time .episode{
    font-size: 14px;
    font-family: var(--monserrat-font);
    font-weight: 400;
}
.episode-time .time i{
    color: var(--btn-hover-color);
}
.episode-time .episode span{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 11px;
    padding: 5px;
} 

.center-content h3{
    font-size: 1.25rem;
    font-family: var(--sono-font);
    font-weight: 600;
    color: var(--btn-hover-color);
}
.center-content h3:hover{
    color: var(--primary-color);
}
.profile img{
    width: 50px;
    height: 50px;
}
.profile .name-surname{
    font-size: 1rem;
    font-family: var(--sono-font);
    font-weight: 300;
}
.profile .name-surname .name img{
    width: 20px;
    height: 20px;
}
.profile .name-surname .surname{
    font-weight: 700;
    color: var(--card-profile-name-color);
}
.center-content p{
    font-size: 14px;
    font-family: var(--monserrat-font);
    color: var(--card-profile-name-color);
}
.center-bootom span{
    font-size: 0.9rem;
    color: var(--card-profile-name-color);
    font-family: var(--sono-font);
}
.center-bootom span i{
    color: var(--btn-hover-color);
}
.center-bootom span:hover {
    color: var(--btn-hover-color);
}
.center-bootom span:hover i{
    color: var(--primary-color);
}
.card-icon-content a{
    background-color: var(--theme-color);
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}
.card-icon-content a:hover{
    background-color: var(--primary-color);
}
.card-icon-content a i{
    font-size: 0.8rem;
    color: var(--secondary-color);
    display: inline-block;
}
/* -/latest-apesode */

/* -/main */



/* ----- */
@media screen and (max-width: 993px) {
    #navbarSupportedContent {
        height: min-content !important;
        background: var(--btn-hover-color);
        left: 0;
        right: 0;
        padding: 10px;
        overflow: hidden;
        border-radius: 20px;
      }

      #slider .splide{
        transform: translateX(-50%);
        margin-left: 50%;
    }
}
/* ------ */
/* sm */
@media screen and (min-width: 577px){
    .position-sm-static{
        position: static !important;
    }
    .position-sm-relative{
        position: relative !important;
    }
    .position-sm-fixed{
        position: fixed !important;
    }
    .position-sm-absolute{
        position: absolute !important;
    }
    .position-sm-sticky{
        position: sticky !important;
    }

    
    /* ---- */
    #slider .splide{
        min-width: 749px;
    }
    #slider .card{
        width: 243px;
        height: 364px;
    }
    #slider .card .card-title{
        font-size: 28px;
    }
    
}
/* md */
@media screen and (min-width: 769px){
    .position-md-static{
        position: static !important;
    }
    .position-md-relative{
        position: relative !important;
    }
    .position-md-fixed{
        position: fixed !important;
    }
    .position-md-absolute{
        position: absolute !important;
    }
    .position-md-sticky{
        position: sticky !important;
    }

/* ---- */
#slider .splide{
    min-width: ;: 803px;
}
#slider .card{
    width: 261px;
    height: 391px;
}
    
   
}
/* lg */
@media screen and (min-width: 993px){
    .position-lg-static{
        position: static !important;
    }
    .position-lg-relative{
        position: relative !important;
    }
    .position-lg-fixed{
        position: fixed !important;
    }
    .position-lg-absolute{
        position: absolute !important;
    }
    .position-lg-sticky{
        position: sticky !important;
    }

    /* ------- */

    
    .content-nav{
        min-width: 507px;
        
    }
    .dropdown-toggle::after{
        border: 0;
        width: 16px;
        height: 16px;
        background-image: url('image/svg/angle.svg');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        margin-left: -5px;
        vertical-align: -3px;
    }

    ul.dropdown-menu.show{
        top: 200px;
        /* top: 75px; */
        visibility: hidden;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    li.nav-item.dropdown:hover ul.dropdown-menu.show{
        top: 60px;
        visibility: visible;
    }
    .dropdown-menu::after{
        content: " ";
        position: absolute;
        bottom: 100%;  /* At the top of the tooltip */
        left: 20%;
        margin-left: -5px;
        border-width: 20px;
        border-style: solid;
        border-color: transparent transparent whitesmoke transparent;
    }
    .hero h2{
        font-size: 58px;
    }

    

    #slider .card{
        width: 292px;
        height: 437px;
    }

}
/* xl */
@media screen and (min-width: 1200px){
    .position-xl-static{
        position: static !important;
    }
    .position-xl-relative{
        position: relative !important;
    }
    .position-xl-fixed{
        position: fixed !important;
    }
    .position-xl-absolute{
        position: absolute !important;
    }
    .position-xl-sticky{
        position: sticky !important;
    }


    /* ---- */
   
    .start-btn{
        padding: 10px 20px;
        font-size: 1.4rem;
    }


}
/* xxl */
@media screen and (min-width: 1401px){
    .position-xxl-static{
        position: static !important;
    }
    .position-xxl-relative{
        position: relative !important;
    }
    .position-xxl-fixed{
        position: fixed !important;
    }
    .position-xxl-absolute{
        position: absolute !important;
    }
    .position-xxl-sticky{
        position: sticky !important;
    }
}